<!DOCTYPE html>
<html>
    <head>
        <title>Claim Generator</title>
        <link rel="stylesheet" href="../static/styles/style.css">
    </head>

    <body>
        <img class = "logo" src="../static/styles/images/Logo.png" alt="Team logo" width= 50px/>
            <p class="teamname">JASS</p>

        <nav class="navbar">
            <a href="../templates/claims.html" class="link" >claims</a>
            <a href="../templates/article.html" class="link" target="blank">article</a>
            <a href="../templates/about.html" class="link" target="blank">about</a>
        </nav>

        <div class="box2">
            <p class="paragraph">
                My spidey senses are tingling! Did I forget to fact check?    
            </p>
        </div>

        <div class="box3">
            <h2 class="head2">Summary</h2>
        </div>

        <div class="box2">
            <p class = "paragraph">
                wow this can summarize
            </p>
        </div>

        <div class="box4">
            
        </div>
    </body>
</html>